services:
  app:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 80 --reload
    ports:
      - "80:80"
    volumes:
      - ./code:/usr/src/app
    depends_on:
      - db
    env_file:
      - .env
    networks:
      - internal
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health/simple"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
  db:
    image: postgres:16
    ports:
     - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - internal
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER:-postgres} || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  # db_test:
  #   image: postgres:16
  #   ports:
  #     - "5433:5432"
  #   environment:
  #     POSTGRES_USER: test_user
  #     POSTGRES_PASSWORD: test_password
  #     POSTGRES_DB: test_database
  #   volumes:
  #     - postgres_test_data:/var/lib/postgresql/data
  #   networks:
  #     - internal
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U test_user -d test_database"]
  #     interval: 5s
  #     timeout: 5s
  #     retries: 5
  # test:
  #   build: .
  #   command: pytest tests/ -v --durations=0
  #   volumes:
  #     - ./code:/usr/src/app
  #   working_dir: /usr/src/app
  #   depends_on:
  #     db_test:
  #       condition: service_healthy
  #   networks:
  #     - internal
  #   environment:
  #     POSTGRES_USER: test_user
  #     POSTGRES_PASSWORD: test_password
  #     DB_HOST: db_test
  #     POSTGRES_DB: test_database
  #     PYTHONPATH: /usr/src/app

networks:
  internal:

volumes:
  postgres_data:
  postgres_test_data: