alembic==1.13.3
amqp==5.2.0
annotated-types==0.7.0
anyio==4.6.0
APScheduler==3.10.4
billiard==4.2.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
fastapi==0.115.0
geographiclib==2.0
geopy==2.4.1
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
iniconfig==2.0.0
kombu==5.4.2
Mako==1.3.5
MarkupSafe==2.1.5
numpy==2.1.2
packaging==24.1
pluggy==1.5.0
prompt_toolkit==3.0.48
psycopg2-binary==2.9.9
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pytest==8.3.3
python-dateutil==2.9.0.post0
python-decouple==3.8
python-multipart==0.0.10
python-slugify==8.0.4
pytz==2024.2
redis==5.1.1
requests==2.32.3
setuptools==75.1.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.35
starlette==0.38.6
text-unidecode==1.3
timezonefinder==6.5.3
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
uvicorn==0.30.6
vine==5.1.0
wcwidth==0.2.13
bs4
pandas